<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>574266226156-k3k84gq0er2jq8negh7rca94g5v0l20m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.574266226156-k3k84gq0er2jq8negh7rca94g5v0l20m</string>
	<key>API_KEY</key>
	<string>AIzaSyAxCmWlkwvoHRoRX6hh7IfLiu2ERzyPiQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>574266226156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.michalwolanin.MChat</string>
	<key>PROJECT_ID</key>
	<string>mchat-2304</string>
	<key>STORAGE_BUCKET</key>
	<string>mchat-2304.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:574266226156:ios:ab2c912e6dc85f825afcc9</string>
</dict>
</plist>